html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  --fg: black;
  --bg: white;
  --remix: #2f77d1;

  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999999;
  --accents-4: #888888;
  --accents-5: #666666;
  --accents-6: #444444;
  --accents-7: #333333;
  --accents-8: #111111;

  --nav-border: #bebebe80;
  --nav-background: #fff;
  --nav-text: #999;
  --nav-text-active: #000;
  --nav-pill: radial-gradient(#dadada 0%, #f1f1f1 100%);
  --root-padding: 16px;

  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--bg);
  color: var(--fg);
  padding: 0 var(--root-padding);
  background-image: url(/bg-light.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

::selection {
  background: var(--remix);
  color: var(--bg);
}

@media (prefers-color-scheme: dark) {
  body {
    --fg: white;
    --bg: black;

    --accents-8: #fafafa;
    --accents-7: #eaeaea;
    --accents-6: #999999;
    --accents-5: #888888;
    --accents-4: #666666;
    --accents-3: #444444;
    --accents-2: #333333;
    --accents-1: #111111;

    --nav-border: #44444480;
    --nav-background: #000;
    --nav-text-active: #fff;
    --nav-pill: radial-gradient(#505050 0%, #292929 100%);

    background-image: url(/bg-dark.png);
  }
}

/* main */

body a {
  border-radius: 3px;
}

body a:focus-visible {
  box-shadow: 0 0 0 2px var(--bg), 0 0 0 4px var(--accents-4);
  outline: 0;
  text-decoration: none;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 720px;
  margin: 0 auto;
  overflow: hidden;
}

.gradient {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
  pointer-events: none;
}

.gradient[data-theme="dark"] {
  display: none;
}

.illustration {
  width: 100%;
  min-width: 480px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.illustration[data-theme="dark"] {
  display: none;
}

.meta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0px;
  max-width: 720px;
  margin: 0 auto;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
}

.info span {
  white-space: nowrap;
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 8px;
  font-size: clamp(14px, 1.8vw, 16px);
  color: var(--accents-5);
}

.info span.region strong {
  color: var(--fg);
}

.info span svg {
  width: 18px;
  height: 18px;
}

.info strong {
  line-height: 1.2;
  font-size: clamp(14px, 2vw, 20px);
}

pre.tokens {
  background: transparent;
  border: none;
  font-family: inherit;
  white-space: pre-wrap;
  width: 100%;
  min-height: 500px;
  overflow-y: scroll;
  font-size: 1.15rem;
  line-height: 1.5;
}

h1.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 8px;
  padding: 0;
}

h1.title > span {
  color: var(--accents-5);
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 24px;
  box-sizing: border-box;
  font-size: 16px;
}

footer p {
  line-height: 20px;
  color: var(--accents-7);
}

footer a {
  height: fit-content;
}

footer a:hover {
  text-decoration: hover;
}

footer .details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: inherit;
  color: var(--fg);
}

footer .details a {
  color: inherit;
  text-decoration-color: var(--mono8);
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

footer .source {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  font-size: inherit;
  color: var(--accents-8);
  text-decoration: none;
}

.vercel {
  height: 24px;
}

/* nav */

nav {
  top: 0;
  margin-top: 64px;
  font-size: 14px;
  position: fixed;
  width: fit-content;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;

  border: 1px solid var(--accents-2);
  border-radius: 9999px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  position: relative;
  z-index: 10;
}

@media (prefers-color-scheme: dark) {
  .gradient[data-theme="dark"] {
    display: block;
  }
  .gradient[data-theme="light"] {
    display: none;
  }
  .details p:nth-of-type(2) {
    color: var(--accents-5);
  }
  .illustration[data-theme="dark"] {
    display: block;
  }
  .illustration[data-theme="light"] {
    display: none;
  }
}

@media (max-width: 960px) {
  footer [data-break] {
    display: block;
  }

  .source svg {
    width: 16px;
    height: 16px;
  }

  .source {
    margin-top: 4px;
  }

  h1.title {
    font-size: 1.5rem;
  }

  .info span {
    font-size: 14px;
  }

  pre.tokens {
    font-size: 1.05rem;
    line-height: 1.5;
  }
}

@media (max-width: 600px) {
  .meta {
    gap: 8px;
  }

  footer {
    gap: 12px;
  }

  .info {
    gap: 8px;
  }

  .info span svg {
    width: 14px;
    height: 14px;
  }

  .vercel,
  .vercel svg {
    height: 18px;
  }
}

